[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://pip.astronomer.io/simple"
verify_ssl = true
name = "astronomer"

[packages]
astronomer-certified = {extras = ["celery", "crypto", "google_auth", "mysql", "postgres","slack", "redis", "s3", "vertica", "statsd"],version = "==1.10.10.*"}
boto = "*"
boto3 = "*"
smart_open= "*"