[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Airflow packages
apache-airflow = "==2.1.2"
apache-airflow-providers-amazon = "*"
apache-airflow-providers-http = "*"
apache-airflow-providers-postgres = "*"
apache-airflow-providers-slack = "*"
apache-airflow-providers-sqlite = "*"
apache-airflow-providers-vertica = "*"
apache-airflow-providers-pagerduty = "*"
smart-open = "*"
python-dotenv = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
nose = "*"
coverage = "*"

[requires]
python_version = "3.7"
